:root {
  --yellowColor: #f9bf3b;
  --lightGreenColor: #2ecc71;
  --darkGreenColor: #12b252;
  --blueColor: #22a7f0;
  --orangeColor: #f2784b;
  --blackColor: #333333;

  --fontMontserrat: 'Montserrat', sans-serif;
  --fontPlayfair: 'Playfair Display', serif;


}

